.title{
    font-size:3.5vw;
    color:white;
    font-family: 'Farro', sans-serif; 
}

.container{
    position:relative;
    overflow-y:hidden;
    width:100vw;
    height:90vh;
}

.infoBlock{
    display:flex;
    flex-direction: column;
    width:40vw;
    min-height:90vh;
    padding:1vw;
    background: rgb(22,22,22);
    background: linear-gradient(90deg, rgba(22,22,22,1) 23%, rgba(11,11,11,0.896796218487395) 51%, rgba(0,0,0,0.7875525210084033) 79%, rgba(0,0,0,0.6138830532212884) 100%);
    position:absolute;
    top:0;
}

.background{
    width:100vw;
    min-height:90vh;
}

.backgroundAnimate{
    width:100vw;
    min-height:90vh;
    animation-name: fadeIn;
    animation-duration:1s;
}
.transition img{
    opacity:0.5;
    width:17.7vw;
    height:9.3vw;
    margin-left:5px;
    margin-top:5px;
    animation-name:fadeOut;
    animation-duration:1s;
    
}

.test{
    transform:translate(-18vw)
}
.test2{
    transform:translate(0vw)
}
.description{
    color:white;
    font-family: 'Farro', sans-serif; 
    font-size:1.1vw;
}

.vote {
    margin-top:-2vw;
    color:white;
    font-family: 'Farro', sans-serif;
    font-size:3vw;
}

.vote span{
    font-size:4vw;
    color:#f3ce13;
}

.imageBlock{
    width:90vw;
    height:10vw;
    background-color: black;
    bottom:0vw;
    overflow: hidden;
    position:relative;
}

.slides{
    width:18vw;
    height:10vw;
    transition:1s;
}

.slides img{
    width:17.7vw;
    height:9.3vw;
    margin:5px;
}

.slider{
    width:100vw;
    height:auto;
    display:flex;
    position:absolute;
    bottom:0;
    align-items: center;
}

.arrow{
    width:4vw;
    height:4vw;
}

.arrow:nth-child(1){
    transform: rotate(90deg)
}
.arrow:nth-child(3){
    transform: rotate(-90deg);
}

.crno{
    position:absolute;
    top:0;
    width:90vw;
    height:10vw;
    display:flex;  
    transition: 0.5s;
    
}
@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}

@keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0.5};
}

.yt{
    width:30vw;
    height:15vw;
    margin-right:6vw;
}

.btnFavorites{
    width:15vw;
    height:3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1DB954;
    color:white;  
    font-family: 'Farro', sans-serif;
    cursor:pointer;
    border-radius:1vw;
}
.btnFavorites:hover{
    background-color: #127a37;
}

.btnUnFavorites{
    width:15vw;
    height:3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E50914;
    color:white;  
    font-family: 'Farro', sans-serif;
    cursor:pointer;
    border-radius:1vw;
}

.btnUnFavorites:hover{
    background-color: #ad0b13;
}

.trailerFlexBox{
    display:flex;
    width:58vw;
    height:35vw;
    position:absolute;
    top:0;
    right:0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}