.body{
    width:65vw;
    min-height:90vh;
    background-color: rgb(12, 12, 12);
    display:flex;
    align-items: center;
    justify-content: center;
}

.form{
    width:40vw;
    height:30vw;
    background-color: black;
    border-radius:3vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.label{
    color:white;
    font-family: 'Farro', sans-serif;
}

.labelInputBlock{
    display:flex;
    flex-direction: column;
    width:35vw;
    height:15vw;
    justify-content: space-around;
}
.labelInput{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:7vw;
    margin-right:2vw;
    
}
.button{
    border:none;
    width:12vw;
    height:3vw;
    background-color: #1DB954;
    font-family: 'Farro', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    cursor:pointer;
    border-radius: 1vw;
    
    margin-left:auto;
    margin-right:auto;
}

.button:hover{
    background-color: #127a37;
}

@media only screen and (max-width:1000px){

    .form{
        width:50vw;
        height:60vw;
        font-size:2.2vw;
    }
    .form .labelInputBlock{
        width:50vw;
        height:45vw;
    }
    .form .labelInputBlock input{
        width:25vw;
        height:4vw;
        font-size:2vw;
    }

    .form .button{
        width:20vw;
        height:5vw;
    }
    
}

@media only screen and (max-width:900px){
    .body{
        width:100vw;
    }
    .form {
        width:80vw;
        height:80vh;
    }
    .form .labelInput{
        width:60vw;
    }
    .form .labelInputBlock input{
        width:40vw;
    }
    .buttons{
        display:flex;
    }
}

@media only screen and (max-width:600px){
    .body{
        width:100vw;
    }
    .form {
        width:80vw;
        height:80vh;
        font-size:3vw;
    }
    .form .labelInput{
        width:60vw;
        margin-top:5vw;
    }
    .form .labelInputBlock input{
        width:40vw;
    }
    .buttons{
        display:flex;
        width:80vw;
    }
    .buttons .button{
        width:30vw;
        height:8vw;
    }
}
@media only screen and (max-width:500px){
    .body{
        width:100vw;
    }
    .form {
        width:80vw;
        height:80vh;
        font-size:3.5vw;
    }
    .form .labelInput{
        width:60vw;
        margin-top:8vw;
    }
    .form .labelInputBlock input{
        width:40vw;
    }
    .buttons{
        display:flex;
        width:80vw;
    }
    .buttons .button{
        width:30vw;
        height:8vw;
    }
}