.body{
    background-color: rgb(59, 59, 59);
    width:100vw;
    min-height:100vh;
    height:auto;
}

.background{
    position:fixed;
}
.backgroundIMG img{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:auto;
}

.blackGradient{
    position:absolute;
    top:0;
    width:100vw;
    height:100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9444152661064426) 27%, rgba(0,0,0,0.8099614845938375) 54%, rgba(0,0,0,0.7399334733893557) 81%, rgba(0,0,0,0.5186449579831933) 100%);
    
}

.logoBlock{
    width:15vw;
    height:auto;
    position:relative;
    margin-left:5vw;
    margin-top:1vw;
}

.logoBlock img{
    width:15vw;
    height:auto;
    z-index: 5;
}

.content{
    width:100vw;
    height:auto;
    position:relative;
    font-family: 'Farro', sans-serif;
    color:white;
    background-color: red;
}
.content h1{
    font-size:2vw;
}
.content p{
    font-size:1.5vw;
}