.headerBar{
    width:100vw;
    height:5vw;
    background-color: black;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.headerBarMobile{
    display:none;
}

.headerList{
    list-style-type: none;
    color:white;
    font-family: 'Farro', sans-serif; 
    font-size:1.1vw;
    cursor:pointer;
}

.headerBarMobileTop{
    display:none;
}

.headerList:hover{
    color:#E50914;
}

.logo{
    height:7vw;
    width:7vw;
    list-style-type: none;
}

.userIcon{
    width:4vw;
    height:4vw;
    cursor:pointer;
    border-radius:50%;
}

.searchIcon{
    width:3.2vw;
    height:auto;
    cursor:pointer;
    
}

.searchDiv{
    display:flex;
    justify-content: space-between;
    width:15vw;
    align-items: center;
}

.searchDiv input{
    width:10vw;
}

@media only screen and (max-width:1000px){
    .headerBar{
        display:none;
    }
    .headerBarMobile{
        display:flex;
        flex-direction: column;
        width:100vw;
        height:100vh;
        position:fixed;
        top:0;
        left:0;
        z-index:5;
        background-color: black;
        display:flex;
        justify-content: space-around;
        align-items: center;
        transform:translate(100vw);
        transition:1s;
    }
    .headerBarMobile .headerList{
        font-size:3vw;
    }

    .headerBarMobile img {
        width:20vw;
        height:20vw;
    }

    .headerBarMobileTop{
        display:flex;
        background-color: black;
        align-items: center;
        justify-content: space-around;
    }
    .headerBarMobileTop .logo{
        width:13vw;
        height:13vw;
    }
    .headerBarMobileTop .mobileMenuIcon{
        width:13vw;
        height:13vw;
    }
    .headerBarMobileTop form input{
        width:25vw;
        height:4vw;
    }
    .headerBarMobileTop form {
        display:flex;
        width:35vw;
        align-items: center;
        justify-content: space-between;
    }
    .headerBarMobileTop form .searchIcon{
        width:8vw;
    }

}

@media only screen and (max-width:500px){
    .headerBarMobile .headerList{
        font-size:5vw;
    }

    .headerBarMobileTop{
        display:flex;
        background-color: black;
        align-items: center;
        justify-content: space-around;
        width:100vw;
        height:20vw;
    }
    .headerBarMobileTop .logo{
        width:18vw;
        height:18vw;
    }
    .headerBarMobileTop .mobileMenuIcon{
        width:13vw;
        height:13vw;
    }
    .headerBarMobileTop form input{
        width:30vw;
        height:6vw;
    }
    .headerBarMobileTop form {
        display:flex;
        width:40vw;
        align-items: center;
        justify-content: space-between;
    }
    .headerBarMobileTop form .searchIcon{
        width:10vw;
    }

}
